body{
    min-height: 100vh;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

/* header */ 
.containerheader {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin: auto
}

header {
    background-color: #000000;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,1);
}

.busca {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inputbotao {
    height: 40px;
    width: 200px;
    padding: 0;
    padding-left: 10px;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.inputbotao:focus {
    outline: 0;
    border-bottom: 1px solid white;
    color: white;
}

.botaobusca {
    background-color: red;
    height: 42.5px;
    width: 42.5px;
    border: none;
    border-radius: 0%;
    padding: 0;
}

.lupabusca {
    height: 20px;
}

/* banner */ 

.containertitulo {
    display: grid;
    width: 70vw;
    height: 20vh;
    margin: auto;
}

.containertitulo h1  {
    display: flex;
    margin: auto;
    font-size: 30px;
}

.containerdestaque {
    display: grid;
    width: 70vw;
    height: 75vh;
    margin: auto;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.coluna1 {
    padding-right: 15px;
}

.coluna1 p {
    background-color: tomato;
    margin: 0;
}

.coluna2 {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    padding-left: 15px;
}

.coluna2 div {
    display: flex;
}
