.profilecard-container {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: auto;
}

.profilecard-container > img {
    width: 200px;
    margin-right: 40px;
    border-radius: 50%;
}

.profilecard-container h3 {
    margin-bottom: 10px;
}

.profilecard-container h4 {
    margin-bottom: 10px;
}

.profilecard-container p {
    margin-bottom: 10px;

}

.profilecard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}