@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body, html{
    min-height: 100vh;
    margin: 0;
    background-color: #fbfbfb;
}