/* TABELA LISTA DE VIAGENS /ADMIN */

.ant-table{
    background-color: transparent;
}

.ant-table-wrapper{
    width: 100%;
    margin: auto;
}


.ant-spin-nested-loading{
    width: 100%;
}

.ant-spin-container{
    width: 100%;
}

.ant-table-cell{
    height: 40px;
}

.ant-table-thead tr th{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    line-height: 2.5;
    background-color: #161616;
}

.ant-table-tbody tr td{
    color: #ABABAB;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background: #1a1a1a;
}

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: #161616;
    color: white;
}

/* TOOLTIP/INFO HOME */

.ant-tooltip-inner {
    color: white;
    background-color: #1A1A1A;
    width: 650px;
    font-size: 14px;
    padding: 15px;
  }

/* TABPANE - PÃGINA DE VIAGEM */

.ant-tabs-card {
    background: transparent;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before {
    border-bottom: 1px solid rgba(254, 190, 29, 0.7);
}

.ant-tabs-tab {
    width: 50%;
    color: rgba(254, 190, 29, 0.6);
    text-shadow: 0;
    font-weight: 300;
    font-size: 18px;
    opacity: 0.85;
}

.ant-tabs-tab-btn{
    text-align: center;
    align-items: center;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
    align-items: center;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    background-color: #1A1A1A;
    border: none;
    height: 90px;
    display: flex;
    justify-content: center;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active{
    background: #1A1A1A;
    border: none;
    border-bottom: 1px solid #FEBE1D!important;
    opacity: 1;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FEBE1D;
    text-shadow: 0;
    font-weight: 300;
    font-size: 18px;
}

.ant-tabs-content {
    background: #1A1A1A;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
    margin: 0;
}
